@font-face
  font-weight 300
  font-style normal
  font-family 'Roboto'
  src local('Roboto'), url('assets/fonts/Roboto300.woff') format('woff')

@font-face
  font-weight normal
  font-style normal
  font-family 'Roboto'
  src local('Roboto'), url('assets/fonts/Roboto400.woff') format('woff')

@font-face
  font-weight 500
  font-style normal
  font-family 'Roboto'
  src local('Roboto'), url('assets/fonts/Roboto500.woff') format('woff')

@font-face
  font-weight 700
  font-style normal
  font-family 'Roboto'
  src local('Roboto'), url('assets/fonts/Roboto700.woff') format('woff')