desktop = "(min-width: 800px)"

// Colors
cBase = #314d5b
cBaseDarker = darken(cBase, 6)
cBaseDarkest = darken(cBaseDarker, 3)
cAccent = #00c0a3
cAccentDarker = darken(cAccent, 3)
cAccentDarkest = darken(cAccentDarker, 3)

cTextLight = #eeeeee
cTextGray = #666666
cTextDark = #111111

cYellow = #de9923
cBgBox = #fafafa
cBoxHeader = #eeeeee
cError = #da4b46
cSuccess = #00c0a3