@import '~assets/styles/variables'

.security
  padding: 1rem 1rem 0 1rem
  display: flex
  flex-direction: column
  min-height: calc(100% - 1rem)

.topBar
  border-bottom: 1px solid $cGray800
  padding-bottom: 1rem
  text-align: center
  color: $cGray200

.history
  padding-top: 1rem
.history__entry
  color: $cGray500
  padding: 0.2rem 0

.loadMore
  margin-top: auto
  padding: 1rem
  text-align: center
  color: $cGray200
  border-top: 1px solid $cGray800
