@import '~assets/styles/variables'

.elements
  padding: 0 1rem
.element
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1rem
  min-height: 2.5rem
  border-bottom: 1px solid $cGray800
  font-size: 1.2rem
.element__name
  color: $cGray500
.element__control
  .light--on
    filter: drop-shadow(0 0 2px $cGreen500)
    color: $cGreen500
  .light--off
    color: $cGray500
  .reed--open
    filter: drop-shadow(0 0 1px $cRed500)
    color: $cRed500
  .reed--closed
    color: $cGray500
.group-temperatures
  display: flex
  justify-content: space-evenly
  margin: 0 1rem
  padding: 1rem
  border-bottom: 1px solid $cGray800
  font-size: 1.25rem
  gap: 1rem

.temperature
  text-align: center

  &__label
    margin-top: 0.2rem
    color: $cGray400
    text-shadow: none
    font-size: 1rem

  &--low
    color: $cBlue500
    text-shadow: 0 0 2px $cBlue500

  &--medium
    color: $cGreen500
    text-shadow: 0 0 2px $cGreen500

  &--high
    color: $cRed300
    text-shadow: 0 0 2px $cRed300
